{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>M Awais</title>
    <link rel="icon" href="{% static 'Assets/images/icon.ico' %}">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!--icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--Link css-->
    <link rel="stylesheet" href="{% static 'Assets/css/style.css' %}">
</head>
<body>
    <!--Header-->
    <header class="header">
        <a href="/" class="logo">M <span>Awais</span></a>
        <i class="fa-solid fa-bars" id="menuicon"></i>
        <nav class="navbar">
          <a href="/">Home</a>
          <a href="/about" class="active">About Me</a>
          <a href="/services">Services</a>
          <a href="/portfolio">Portfolio</a>
          <a href="/contact">Contact Me</a>
        </nav>

    </header>
    <!--Service section-->
    <section id="about" class="about-bg">
        <div  > 
            <h1 class="heading1">About <span>me</span></h1>
        </div>
       
    </section>
    <section class="about" id="about">
        <div class="about-image" data-aos="fade-up">
          <img src="{% static 'Assets/images/Untitled-2-removebg-preview1.png'%}" alt="">
        </div>
        <div class="about-content">
          <h2 class="heading" data-aos="fade-down">About <span>Me</span></h2>
          <p>I am a Software Engineer with expertise in Django web development and AI/ML.
            I specialize in building reliable backends, designing efficient databases, and
            creating intelligent solutions to solve real-world problems. I am committed
            to delivering responsive and user-friendly websites that work seamlessly across all devices,
            ensuring an excellent user experience.</p>
          <a href="/contact" target="_blank" class="btn">Hire Me</a>
        </div>
    
      </section>
    
    
<!--Experience section-->
<section class="contact" id="about">
    <h2 class="heading" data-aos="fade-down">My <span>Experience</span></h2>
    <div class="timeline-main">
      <div class="timeline-wrap">
        <div class="timeline-card">
          <div class="timeline-card-wrap">
            <div class="card-head-wrap">
              <h3 class="timeline-card-head">Working Experience</h3>

            </div>
            <p class="timeline-card-text">
              From the outset, I embarked on my journey in web development through internships
              at Globe Tech Solution (RYK) and Dynamic Developers (Islamabad). During these
              roles, I gained hands-on experience in building responsive and dynamic websites,
              enhancing my skills in modern web development practices. My passion for technology
              led me to explore the field of artificial intelligence and machine learning, where
              I pursued additional learning and achieved certification as a Microsoft AI/ML Engineer (AI-900).
            </p>
          </div>
        </div>
        <div class="timeline-card">
          <div class="timeline-card-wrap">
            <div class="card-head-wrap">
              <h3 class="timeline-card-head">Education</h3>
            </div>
            <p class="timeline-card-text">
              I graduated as a <b>Software Engineer</b> from <b>Khwaja Fareed University of Engineering & Information Technology (KFUEIT), RYK</b>, 
              achieving the highest CGPA in my class. During my academic journey, I gained comprehensive
               knowledge in programming, continuously enhancing my technical skills and understanding of key
                concepts such as <b>data structures and algorithms (DSA)</b>, <b>software requirements analysis</b>, and <b>quality assurance testing</b>. 
                This rigorous education provided me with both theoretical foundations and practical expertise, preparing me to excel in the dynamic field 
                of software development.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!---Footer-->
  <footer class="footer">
    <div class="footer-text">
      <p>Copyright &copy; <span id="current-year">2023</span> by M AWAIS | All Rights Reserved</p>
    </div>
    <div class="footer-icon">
      <a href="#about"><i class="fa-solid fa-arrow-up"></i></a>
    </div>
  </footer>


</body>
<script href="Assets/js/app.js">
</script>
<script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    let menuIcon = document.querySelector('#menuicon');
    let navbar =document.querySelector('.navbar');

    menuIcon.onclick = () =>{
        menuicon.classList.toggle('fa-x');
        navbar.classList.toggle('active');

    };
    
    
    let sections = document.querySelectorAll('section');
    let navlinks = document.querySelectorAll('header nav a');
    
    window.onscroll = () => {
        sections.forEach(sec => {
            let top = window.scrollY;
            let offset = sec.offsetTop - 150;
            let height = sec.offsetHeight;
            let id = sec.getAttribute('id');
    
            if (top >= offset && top < offset + height) {
                navlinks.forEach(links => {
                    links.classList.remove('active');
                });
    
                document.querySelector('header nav a[href*=' + id + ']').classList.add('active');
            }
        });
        menuicon.classList.remove('fa-x');
        navbar.classList.remove('active');
    };

    let header = document.querySelectorAll('header');
    header.classList.toggle('sticky',window.scrollY>100);
    </script>
    <script>
      // Get the current year
      const currentYear = new Date().getFullYear();
  
      // Update the year in the footer
      document.getElementById("current-year").textContent = currentYear;
    </script>
    <script>
      AOS.init();
  </script>
</html>